/* 빙그레 맛 */
#taste {
    
}
#taste .inner {
  
}
#taste .inner h2.h2 {
margin-bottom:50px; 
}
#taste .inner ul.list {
  /*! display: flex; */
  width: 90%;
  /*! justify-content: space-between; */
  gap: 10px;
  text-align:center;
  flex-wrap: wrap;
  row-gap: 40px;
}
#taste .inner ul.list li {
  width: calc((100% / 6) - (50px / 6));
  box-sizing: border-box;
  transition: all 0.5s ease; /*  그림에 마우스를 가져갔을때 그림이 위로 올라갈시 속도를 조절하는 부분*/
}
#taste .inner ul.list li:hover{
  transform: translateY(-15px); /*그림에 마우스를 가져갔을때 그림이 위로 15px만큼 올라가는 부분*/   
}
#taste .inner ul.list li::before{
  content: "";
  display: block;
  width: 100%;
  background-color: yellow;
  height: 262px;
  border-radius: 6px;
  margin-bottom: 11px;

  background-repeat: no-repeat;
  background-position: center;
}
#taste .inner ul.list li:nth-child(1)::before{
    background-image: url(../img/1.png);
    background-color: #efe4db;
}
#taste .inner ul.list li:nth-child(2)::before{
    background-image: url(../img/2.png);
    background-color: #f6efe0;
}
#taste .inner ul.list li:nth-child(3)::before{
    background-image: url(../img/3.png);
    background-color: #f9e5e5;
}
#taste .inner ul.list li:nth-child(4)::before{
    background-image: url(../img/4.png);
    background-color: #ededed;
}
#taste .inner ul.list li:nth-child(5)::before{
    background-image: url(../img/5.png);
    background-color: #e4f3f9;
}
#taste .inner ul.list li:nth-child(6)::before{
    background-image: url(../img/6.png);
    background-color: #fcf4e5;
}
#taste .inner ul.list li a {
  width: 100%;
  display: block;
  background-color: #f9f9f9;
  border-radius: 6px;
  line-height: 1.9;
  position: relative;
  overflow: hidden;
}
#taste .inner ul.list li a::before{
  content: "VIEW MORE";
  display: block;
  background-color: red;
  color: white;
  position:absolute;
  width: 100%;
  display: none;
}

#taste .inner ul.list li:hover a::before{
  display: block;
}

/* 브랜드샵 */
#shop {
  
}
#shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#shop .inner h2 {
  
  margin-bottom: 50px;
}
#shop .inner ul.list {
  
  width: 90%;
  gap: 10px;
}
#shop .inner ul.list li {  
  border-radius: 40px;
  border: 1px solid #e1dbdb;
  width: calc(100% / 6);
  height: 261px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#shop .inner ul.list li:hover>*{
  display: block;
  
}

#shop .inner ul.list li >*:not(h3){  /*  >* : 아래있는 모든 자식요소들만 선택(자손요소는 포함안됨), not(h3) : h3은 제외 */
  display: none;
  
}

#shop .inner ul.list li h3 {  
  font-size: 0;
}
#shop .inner ul.list li h3 img {
  
  transition: all 0.5s;  /* 글자에서 그림으로 돌아올때 부드러워지는 효과*/
}
#shop .inner ul.list li h3 br {
  
}
#shop .inner ul.list li p {
  
  line-height: 1.5;
  text-align: center;
}
#shop .inner ul.list li p::before{
  content: "";
  width: 60px;
  display: block;
  border-top: 2px solid #ccc;
  margin: 0 auto;
  margin-bottom: 16px;
  
}


#shop .inner ul.list li a {  
  background-color: red;
  color: white;
  width: 90%;
  line-height: 2;
  border-radius: 16px;
  text-align: center;
}

#shop .inner ul.list li:hover>*:not(a){
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* animation-direction: reverse; */
 }

@keyframes fadeUp{
  from{
   transform: translateY(40px);
   opacity: 0;
  }
  
  to{
    transform: translateY(0);  
    opacity: 1;    
  }
  
 } 

#shop .inner ul.list li:hover img{
  transform: scale(0.7);
  
}

#shop .inner ul.list li:hover a{    /* 구입하기 버튼의 나타남과 속도 그외 특성*/
  animation-name: shopFadeIn;
  animation-duration:1s;
  animation-fill-mode: forwards;
  
 }

@keyframes shopFadeIn{
  from{
   opacity: 0;
   transform: translateY(-10px);
    
  }
  
  to{
   opacity: 1;   
   transform: translateY(0);
  }
  
 }

/* 커뮤니티  */

#community {
  
}
#community .inner {
  
  gap: 50px;
}

#community .inner h2 {
  
}

#community .inner >*{
  border-radius: 30px;  
  padding: 50px;
  box-sizing: border-box;
}

#community .inner > article {  
  width: 40%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: content-box;
}
#community .inner > article.cyber {
  
  background-color: #fcf5e5;
  background-image: url(../img/commu1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: content-box;
}
#community .inner > article.sinmungo {
  
  background-color: #f9f9f9;
  background-image: url(../img/commu2.png);
}
#community .inner > article h3 {
  
}
#community .inner > article p {
  
}
#community .inner > article > a {
  
}
#community .inner div {
  
  width: calc(80% + 50px);
  border: 1px solid;
  /*! width: 972px; */
  /*! height: 694px; */
  gap: 50px;
}


#community .inner div article {
  border-radius: 30px;
  
  
  padding: 50px;
  box-sizing: border-box;
}
#community .inner div article:not(.faq){
  width: calc((100% / 2) - (50px / 2));
  
  
  box-sizing: border-box;
}
#community .inner div article.faq {
  
  width: 100%;
  position: relative;
}
#community .inner div article.email {  
  background-color: #eef8fb;
  width: 40%;
  height: 280px;
}
#community .inner div article.telephone {  
  background-color: #fdf3f2;
  
 }
#community .inner div article h3 {
  
  margin-bottom: 30px;
}
#community .inner div article ul {
  
  gap: 50px;
  row-gap: 10px;
  /*! line-height: 5; */
}
#community .inner div article ul li {
  
  width: calc(100% / 2 - 50px / 2);
  background-color: #f9f9f9;
  /*border: 1px solid;*/
  box-sizing: border-box;  
  line-height: 3;
  border-radius: 30px;
  /*! padding-left: 20px; */
  /*! padding-right: 20px; */
  box-shadow: 0 0 20px #f9f9f9 inset; /* inset */
  height: 80px;
}

#community .inner div article ul li:nth-child(even){
  /*margin-left: 50px;*/ 
  
}

#community .inner div article ul li:hover{
  font-weight: bold;  
  
}


#community .inner div article ul li a {  
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  
}

#community .inner div article ul li a::after{
  content: "↗";
  width: 26px;
  height: 26px; 
  background-color: red;
  border-radius: 50px;   /*동그라미 모양*/
  display:inline-block;
  text-align: center;
  line-height: 26px;
  color: white;
  transition: all 0.7s;
  transform: scale(0);
     
}

#community .inner div article ul li:hover a::after{
  transform: scale(1);
 
}

#community .inner div article p {
  
}
#community .inner div article > a {
  
}

#community .inner div article > a.viewMore{
  
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  /*padding: 10px 30px;*/
  border-radius: 12px;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  transition: all 0.2s;
  
}

#community .inner div article > a.viewMore:hover{
  background-color: red;
  color: white;
  
  
  
}
