header {
  
}
header .inner {
  
}
header .inner h1 {
  
  position: absolute;
  left: calc(50% - 100px); /*50px로 준 이유는 정가운데 오게하기위해 글자길이만큼 빼줌*/
  width: 200px;
  text-align: center;
}
header .inner h1 a {
  
}
header .inner ul.gnb {
  
}
header .inner ul.gnb li {
  
}
header .inner ul.gnb li h2 {
  
}
header .inner ul.gnb li h2 a {
  
}
header .inner ul.gnb li ul.gnbsub {
  
}
header .inner ul.gnb li ul.gnbsub li {
  
}
header .inner ul.gnb li ul.gnbsub li a {
  
}
header .inner ul.enb {
  
}
header .inner ul.enb li {
  
}
header .inner ul.enb a {
  
}