@media screen and (max-width:1200px){
  /* 헤더 */
  header div.inner{
    flex-wrap: wrap;
    }
  header .inner h1{
    order: 1;
  }
  header .inner ul.enb{
    order: 2;
  }
  
  header .inner ul.gnb{
    order: 3;
    width: 100%;
    justify-content: center;
  }
  
  /* 타이틀 */
  
  #title{    
  min-height: 36.45833333333333vw;
  height: 100vw;
  }
  
  #title::before{    
  width: 78.54166666666667vw;
  height: 20.20833333333333vw;
  margin-top: 3.125vw;
  }
  
  #title form.search{    
  width: 36.45833333333333vw;
  min-width: 600px;/*최소값 설정*/
  }
  
  #title ul.hash{
    column-gap: 20px;
  }
  
  /* 빙그레맛 */
  
  #taste .inner ul.list li{    
  width: calc((100% / 3) - (50px / 3));
  }
  
  /* 브랜드샵 */
  #shop .inner ul.list li{    
  width: calc(100% / 3 - 20px / 3); /* 3개라서 2개의 갭이 생김(한개의 갭당 10이므로*2)*/
  }
  
  #shop .inner ul.list{
    flex-wrap: wrap;
    
  }
   #community .inner > article{
    width: 90%;
  }
  
  #community .inner div article ul li {
    width: 100%;
    line-height: 1.5;
    padding: 10px 0;
    
      
  }
  
  #community .inner div article:not(.faq){
    
  width: 100%;
  }
  
}
@media screen and (max-width:768px){/*max-width이하 미디어쿼리*/
  header .inner ul.gnb{    
  display: none;
  }
  
  header .inner ul.tnb{    
  display: none;
  }
  
  /* 타이틀 */
  #title form.search{   
   min-width: 90%;/*최소값 설정*/
  }
  
 /*빙그레맛*/
  #taste .inner ul.list li {
    width: calc((100% / 2) - (50px / 2));
  }
  
  #shop .inner ul.list li{    
   width: calc((100% / 2) - (10px / 2));
  }
  
  #shop .inner ul.list{
    flex-wrap: wrap;    
  }  
  
  footer .inner{
    
  display: block;
  height: auto;
  }
  
  footer .inner .left address{
    padding-top:30px;
  }
  
  footer .inner .right {
    
  align-items: flex-start;
    }
  #community .inner div{  
   width: 100%;
   gap: initial;
   row-gap: initial;
   box-shadow: 0 0 0 transparent;
   row-gap: 50px;
   padding: 0;
  }
  
}

