/* #title::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(../img/main1.jpg);
  background-size: cover;
  min-height: 700px;
  margin-top: -100px;
  z-index: -1;
} */

#title {
  height: 100%;
 
  background-image: url(../img/main1.jpg);
  background-size: cover;
  min-height: 700px;
  margin-top: -100px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;  
  
    
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  position: relative;
}
 
}

#title div.work {



}

#title div.work p {

}

#title div.work a {
  display: block;
  border: 1px solid #999;
  width: 150px;
  height: 50px;
  line-height: 3;  
  text-align: center;
}

#title div.bar {

}