#title {
  height: 100%; 
  background-image: url(../img/main1.jpg);
  background-size: cover;
  min-height: 700px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;  
}

#title div.work {

  width: 60%;
  height: 255px;
}

#title div.work p {

  margin: 35px;
  margin-left: 0;
}

#title div.work a {
  display: block;
  border: 1px solid #999;
  width: 130px;
  height: 40px;
  line-height: 2.5;  
  text-align: center;
}

#title div.bar {

  display: inline-flex;
  gap: 60px;
  font-size: 10px;
  width: 60%;
  height: 230px;
}