header{color:red;
    .inner{color:red;
        
        h1{color:red;
            a{color:red;

            }
        }       
        ul.gnb{color:red;
            li{color:red;
                h2{color:red;
                    a{color:red;

                    }
                }
                ul.gnbsub{color:red;
                    li{color:red;
                        a{color:red;

                        }
                    }
                }
            }
        }
        ul.enb{color:red;
            li{color:red;

            }
            a{color:red;

            }
        }
    }   
}
