.menuback {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;  
  left: 0;
  top: 0;
  animation-name: scalewide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: 0 0;
  transition: left 0.5s;
  
}

@keyframes scalewide {
  0% {
    transform: scaleX(0);
    
  }
  
  100% {
    transform: scaleX(1);
    
  }
}

.menubackmove {
  left: 100%;
  
}