footer {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

footer a {
  color: #666666;
}
footer .total {

  width: 60%;
  margin: 0 auto;
  font-size: 13px;
  color: #666666;
  position: relative;
}

footer .total .top {

  display: flex;
  justify-content: space-evenly;
}
footer .total .top dt {
  font-weight: 600;
  margin: 20px 0;
  
  /*! width: 100%; */
}

footer dt {
  color: black;
}
footer .total .top dd {
  line-height: 2;
  
}

footer .total .top .sitemap {

  width: 40%;
}

footer .total .top .sitemap dl.menu {

  display: flex;
  flex-wrap: wrap;
  height: 160px;
}

footer .total .top .sitemap dl.menu dt {

  width: 100%;
}

footer .total .top .sitemap dl.menu dd {
    
  width: 50%;
}

footer .total .top .sitemap dl.menu dd a {
    
}

footer .total .top .chanel {
    
  width: 25%;
}

footer .total .top .chanel dl {
    
}

footer .total .top .chanel dl dt {
    
}

footer .total .top .chanel dl dd {
    
}

footer .total .top .chanel dl dd a {
    
} 

footer .total .top .customer {
    
  width: 25%;
} 

footer .total .top .customer dl {
    
} 

footer .total .top .customer dl dt {
    
} 

footer .total .top .customer dl dd {
    
} 
footer .total .top .customer dl dd a {
    
} 

footer .total .top .way {
    
  width: 25%;
} 

footer .total .top .way dl {
    
}

footer .total .top .way dl a {
  color:black;
  
}


footer .total .top .way dl dt {
    
}

footer .total .top .way dl dt {
    
}
footer .total .top .way dl dt a.direct {
  position: relative;
    
}

footer .total .top .way dl dt a.direct::after {
  content: "";
  display: inline-block;
  background-image: url(../img/footer_ico_plus.png);
  background-size: cover;
  width: 15px;
  height: 15px; 
  position: absolute;
  right: -17%;
}

footer .total .sns ul {

  display: flex;
  margin-bottom: 20px;
}

footer .total .sns ul li  {
  
   margin-right: 10px;
}

footer .total .sns ul li a {
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-size: 0;
  background-size: cover;  
}

.img-youtube {  
  background-image: url(../img/footer_youtube.png);
 
}
.img-linkedin {  
  background-image: url(../img/footer_linkdin.png);
}
.img-facebook {  
  background-image: url(../img/footer_facebook.png);
}
.img-insta {  
  background-image: url(../img/footer_insta.png);
}

footer .total .terms {
  
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .total .terms ul { 

  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}


footer .total .terms ul li a {
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
}
footer .total .terms ul li address {
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  
}

footer .total .terms ul li:last-child address {
  border-right: none;
}

footer .total .copyright p {
  color: #999;
  
}

footer .total .right {
  
}

footer .total .right a {
  
}

footer .total .right a img {
  
  width: 65px;
  height: 40px;
  background-size: cover;
  position: absolute;
  right: 6%;
  bottom: 25%;
}
