body {
}

#top {  
  position: relative;
  z-index: 1;
}
#top div.inner {    
  align-items: flex-start;
  width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#top div.inner::after {
  content: "";
  position: absolute;
  width: 170%;
  border-bottom: 1px solid #ccc;
  top: 65px;
  box-sizing: border-box;
  left: -35%;
}


#top div.inner h1 {
    
}
#top div.inner h1 a {    
  font-size: 0;
  display: block;
  background-image: url(../img/posco.svg);
  width: 100px;
  height: 66px;
  background-size: cover;
  background-repeat: no-repeat;
}
#top div.inner ul.gnb {    
  gap: 5%;
  position: absolute;
  left: 12%;
  top: 29%;
  width: 40%;
}
#top div.inner ul.gnb li {
    
}
#top div.inner ul.gnb li a {
    
}

#top div.inner ul.gnb>a {
  
}

#top div.inner ul.gnb > a::after {  
  content: "";
  background-image: url(../img/ico.png);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
}

#top div.inner ul.gnb li ul {
    
}
#top div.inner ul.gnb li ul li {
    
}
#top div.inner ul.gnb li ul li a {
    
}

#top div.inner .tnb {  
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

#top div.inner .tnb select {
  
  border: none;
  opacity: 0.4;
}

#top div.inner .tnb a {
  font-size: 0;
  
}

#top div.inner .tnb a:nth-of-type(2) {
  display: block;
  font-size: 15px;
  
}




#top div.inner .tnb a:nth-of-type(3) {  
  background-image: url(../img/search.svg);
  width: 20px;
  font-size: 0;
  display: block;
  background-size: cover;
}

#top div.inner .tnb a.ham {  
  display: block;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 0;
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
}

#top div.inner .tnb a.ham::before {
  content: "";  
  width: 100%;
  display: block;
  height: 1px;
  background-color: #000;
  border-top: 1px solid #000;
}

#top div.inner .tnb h2 {  
  font-size: 0;
  background-image: url(../img/withposco.png);
  width: 115px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 22px;
}


/* #top div.inner div.panel {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ccc;
  z-index: 100;
} */


#top div.inner div div.container {
  display: table;
  position: relative;
}

#top div.inner div div.container div.col {
  display: table-cell;
  width: 25%;
  padding: 30px 0;
}

#top div.inner ul.gnb li div.container dl {
  display: none;
}

/* #top div.inner ul.gnb li h2:hover + div.panel div.container div.col dl {
  display: block;
} */

